body{
    margin: 0;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 200px (100% - 200px);
    
}



/* HEADER */

.header{
    display: grid;
    height: 200px;
    grid-column: 2/4;
    background-color: #08415c;
}

.search{
    padding-left: 100px;
    padding-top: 32px;
}

.search-bar{
    padding-left: 35px;
    margin-top: -25px;
}
#search-bar{
    width: 400px;
    border: 3px solid  #f0e130;
    border-radius: 20px;
}

.profile-notif{
    display: grid;
    grid-template-columns: 30px 30px 30px;
    gap: 20px;
    padding-left: 800px;
    margin-top: -20px;
    
}

.profile-notif p{
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 1px;
    color: #f0e130;
}

.user-info-details{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 30px 50px 30px;
    gap: 100px;
}

.greet{
    width: 200px;

}

.greet .hello{
    font-size: 15px;
    margin-top: 20px;
    color: #f0e130;
}

.greet .name{
    font-size: 30px;
    margin-top: -5px;
    color: #f0e130;
}


.creation{
    padding-left: 700px;
    margin-top: -65px;
}

.studio{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 30px;

}

.studio button{
    width: 100px;
    height: 40px;
    border: 2px solid #08415c;
    border-radius: 20px;
    color: #08415c;
    background-color: #f0e130;
}




/* SIDEBAR */

.sidebar{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    height: 730px;
    background-color: #f0e130;
    color:  #08415c;
}

.dashboard{
    padding-left: 15px;
    padding-top: 25px;
}
.icons{
    display: flex;
    flex-direction: column;
    
    margin-top: -200px;
    margin-left: -20px;
    
}

.general-icons,
.main-icons{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    


}

.general-icons  p,
.main-icons p{
    padding-left: 200px;
    padding-top: 10px;
    
}

.dashboard p{
    margin-left: 50px;
    margin-top: -36px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.general-icons p{
    margin-top: -40px;
    margin-left: -150px;
    font-family: sans-serif;
    font-weight: 600;
}

.main-icons p{
    margin-top: -40px;
    margin-left: -150px;
    font-family: sans-serif;
    font-weight: 600;

}


/* content */

.content{
    grid-column: 2/4;
    grid-row: 2;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    margin-top: -500px;
    margin-left: 10px;

}

.cards{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 50px;
}

.card01 img,
.card02 img,
.card03 img,
.card04 img{
    display: flex;
    margin-left: 350px;
}

.card01,
.card02,
.card03,
.card04{
    margin-left: 20px;
    margin-bottom: 10px;
    border: 1px solid #08415c;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 #08415c;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    color: #08415c;
}




.card02{
    grid-row: 2;
}

.card03{
    grid-column: 2;
    grid-row: 1;
}

.card03,
.card04{
    margin-left:250px;
}

.announcement-card{

    margin-bottom: 10px;
    border: 1px solid #08415c;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 #f0e130;
    padding: 10px;
    font-family: sans-serif;
    color: #08415c;
    grid-column: 3;
    grid-row: 1;
    margin-left: 480px;
    text-align: center;


}

.trending-card{
    margin-bottom: 10px;
    border: 1px solid #08415c;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 #f0e130;
    padding: 10px;
    font-family: sans-serif;
    color: #08415c;
    grid-column: 3;
    grid-row: 2;
    margin-left: 480px;
    margin-top: 100px;
    text-align: center;


}